<!-- <script type="text/javascript" src="/js/echarts.min.js"></script> -->
<!-- <script type="text/javascript" src="/js/china.js"></script> -->

<script src="https://cdn.bootcss.com/aos/2.3.4/aos.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/echarts/4.8.0/echarts.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@4.8.0/map/js/china.js"></script>

<div class="card">
<div class="card-content">
<div id="from" style="width:100%;height:700px;" data-aos="zoom-in-up"></div>
</div>
</div>
<script type="text/javascript">
var fromChart = echarts.init(document.getElementById('from'));
var data = [
    {name: '北京', value: ['张霖']},
    {name: '泉州', value: ['黄昕睿']},
    {name: '南宁', value: ['韦镇源']},
    {name: '邯郸', value: ['唐川']},
    {name: '廊坊', value: ['吕国光']},
    {name: '张家口', value: ['窦星磊']},
    {name: '洛阳', value: ['侯逸骅']},
    {name: '郑州', value: ['李钦伦']},
    {name: '驻马店', value: ['霍昱周']},
    {name: '安阳', value: ['高英杰']},
    {name: '开封', value: ['孙婧伊']},
    {name: '漯河', value: ['陈鹏飞']},
    {name: '商丘', value: ['李岩']},
    {name: '信阳', value: ['刁永动']},
    {name: '大庆', value: ['叶子铭']},
    {name: '大冶', value: ['宋栿浒']},
    {name: '武汉', value: ['陶锴']},
    {name: '耒阳', value: ['张顺根']},
    {name: '四平', value: ['张翠','张健铭']},
    {name: '长春', value: ['太然','蒋璐宇','石雨鑫']},
    {name: '通化', value: ['于涛']},
    {name: '扬州', value: ['李静']},
    {name: '大连', value: ['郭安']},
    {name: '抚顺', value: ['于海川']},
    {name: '淄博', value: ['朱小谢']},
    {name: '烟台', value: ['宋嘉庚']},
    {name: '东营', value: ['王瀚橙']},
];
var province = [
    {name: '北京', value: 1},
    {name: '福建', value: 1},
    {name: '广西', value: 1},
    {name: '河北', value: 3},
    {name: '河南', value: 8},
    {name: '黑龙江', value: 1},
    {name: '湖北', value: 2},
    {name: '湖南', value: 1},
    {name: '吉林', value: 6},
    {name: '江苏', value: 1},
    {name: '辽宁', value: 2},
    {name: '山东', value: 3},
];
var geoCoordMap = {
	'驻马店':[113.99382,32.97319],
    '商丘':[115.61396,34.44379],
    '信阳':[114.05857,32.11683],
    '大冶':[114.97977,30.09551],
    '耒阳':[112.85988,26.42243],
    '漯河':[113.9202,33.54528],
    '廊坊':[116.68572,39.50311],
    '通化':[125.95513,41.7285],
    '四平':[124.41,43.16],
    '烟台':[121.39,37.52],
    '张家口':[114.87,40.82],
    '大连':[121.62,38.92],
    '长春':[125.35,43.88],
    '东营':[118.49,37.46],
    '扬州':[119.42,32.39],
    '北京':[116.46,39.92],
    '淄博':[118.05,36.78],
    '安阳':[114.35,36.1],
    '开封':[114.35,34.79],
    '邯郸':[114.47,36.6],
    '廊坊':[116.7,39.53],
    '武汉':[114.31,30.52],
    '大庆':[125.03,46.58],
    '泉州':[118.58,24.93],
    '南宁':[108.33,22.84],
    '抚顺':[123.97,41.97],
    '郑州':[113.65,34.76],
    '洛阳':[112.44,34.7]
};
function convertData(data) {
   var res = [];
   for (var i = 0; i < data.length; i++) {
       var geoCoord = geoCoordMap[data[i].name];
       if (geoCoord) {
           res.push({
               name: data[i].name,
               value: geoCoord,
               stus: data[i].value 
           });
       }
   }
   return res;
};
option = {
    title: {
        text: '卓班同学家乡统计',
        left: 'center'
    },
    tooltip: {},
    visualMap: {
        min: 1,
        max: 8,
        seriesIndex: [1],
        inRange: {
            color: ['#e0ffff', '#006edd']
        },
        calculable : false
    },
    geo: {
        map: 'china',
        roam: false,
        zoom: 1.2,
        label: {
            show: true,
            color: 'rgba(0,0,0,0.6)'
        },
        itemStyle: {
            borderColor: '#AAAAAA',
        	areaColor:'#DDDDDD',
        },
        emphasis:{
            itemStyle: {
                areaColor: null,
                shadowOffsetX: 0,
                shadowOffsetY: 0,
                shadowBlur: 20,
                borderWidth: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
        }
    },
    series : [
        {
            type: 'effectScatter',
            coordinateSystem: 'geo',
            data: convertData(data),
            symbolSize:(rawValue, params) => {
                params.symbolSize = params.data.stus.length*10
                return params.symbolSize
            },
            symbol: 'circle',
            symbolRotate: 0,
            label: {
                formatter: '{b}',
                position: 'right',
                show: false
            },
            itemStyle: {
                color: '#BB332F'
            },
            showEffectOn: 'emphasis',
            rippleEffect: {
                brushType: 'stroke'
            },
            hoverAnimation: true,
            emphasis: {
                label: {
                    show: true
                }
            },
            tooltip:{
                trigger:'item',
                formatter(params){
                    label='<b style="line-height:2; font-size:18px;">'+params.name+'</b><br/>'
                    label+=params.data.stus.join('，')
                    return label
                }
            }
        },
        {
            name: '地区人数',
            type: 'map',
            geoIndex: 0,
            data: province,
            tooltip:{
                trigger:'item',
                formatter(params){
                    if (isNaN(params.value)){
                        return '没有同学来自'+params.name
                    }else{
                        return params.value+'名同学来自'+params.name
                    }
                }
            }
        }
    ]
};
fromChart.setOption(option);
</script>